
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




body {
    font-family: Muli;
}


/* Header */

.header {
    background-color: #bd5d38;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#menuIcon {
    color: #ffffff;
    font-size: 25px;
    border: 1px solid #fff;
    padding: 4px 9px;
}

.header-text {
    color: #c7c9cc;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-text:hover {
    color: #fff;
}

.title {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}

#nav-bar {
    display: none;
}

.header-links {
    margin-left: 20px;
}

.header-img {
    display: none;
}

.greyColor {
    color: #868e96;
}

.orangeColor {
    color: #bd5d38;
}

.main {
    margin-top: 100px;
    margin-left: 20px;
}

/* About */

.links {
    text-decoration: none;
    color: #fff;
}

.icons {
    background: #495057;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    padding: 15px;
    font-size: 25px;
}

.icons:hover {
    background: #bd5d38;
}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed';
    color: #495057;
}

.pharagraphs {
    font-size: 18px;
    line-height: 1.5;
}

.address {
    font-size: 18px;
    width: 80%;
    line-height: 1.4;
}

.social-icons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.displayBlock {
    display: block;
}

.current-menu-item {
    color: #fff;
}

/* Experience section */

.experience, .education {
    width: 90%;
}

.categoryTitle {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed';
    color: #343a40;
    margin-top: 300px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.titles {
    color: #343a40;
    font-size: 30px;
    font-family: 'Saira Extra Condensed';
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.undertitles {
    font-size: 22px;
    font-family: 'Saira Extra Condensed';
    margin-bottom: 20px;
}

.dates {
    margin-bottom: 20px;
}

.jobInfo {
    margin-bottom: 30px;
}

/* Skills section */

.skillsI-container {
    width: 90%;
}

.skillsI {
    font-size: 50px;
    color: #868e96;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.skillsI:hover {
    color: #bd5d38;
}

.interests p {
    width: 80%;
}

.yellowColor {
    color: #f7d84f;
}

.awards {
    margin-bottom: 300px;
}


@media screen and (min-width: 1000px) {
    /* Header */ 
    #menuIcon {
        display: none;
    }

    .title {
        display: none;
    }

    #nav-bar {
        display: block;
    }

    .header {
        height: 100vh;
        width: 23vw;
        position: fixed;
        top: 0;
        left: 0;
    }

    .header-text {
        font-size: 18px;
        text-align: center;
        padding: 5px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .header-links {
        margin-left: 0px;
    }

    .header-img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
        border: 10px solid rgba(255,255,255,.2);
    }

    .main {
        margin-top: 0px;
        margin-left: 26vw;
        width: 71vw;
    }

    /* About */

    .about {
        width: 90%;
        height: 100vh;
        justify-content: space-evenly;
    }

    .displayBlock {
        display: inline;
    }

    .social-icons {
        width: 40%;
        display: block;
    }

    .address {
        font-size: 15px;
    }

    .links {
        margin-right: 20px;
    }

    /* Experience section */

    .pwidth {
        width: 70%;
    }

    .pharagraphs {
        font-size: 18px;
    }

    .dates {
        margin-bottom: 0px;
        float: right;
        font-size: 15px;
    }

    .jobInfo {
        margin-bottom: 70px;
    }
}